/* ---------------------------------- */
/* Custom properties                  */
/* ---------------------------------- */

:root {
  --color-slate-50: 210 40% 98%;
  --color-slate-100: 210 40% 96%;
  --color-slate-200: 214 32% 91%;
  --color-slate-300: 212 29% 84%;
  --color-slate-400: 215 23% 65%;
  --color-slate-500: 215 18% 47%;
  --color-slate-600: 215 22% 35%;
  --color-slate-700: 215 28% 27%;
  --color-slate-800: 218 36% 18%;
  --color-slate-900: 223 48% 11%;
  --color-slate-950: 229 85% 5%;

  --color-teal-50: 166 76% 97%;
  --color-teal-100: 168 86% 89%;
  --color-teal-200: 168 86% 78%;
  --color-teal-300: 172 81% 60%;
  --color-teal-400: 174 100% 42%;
  --color-teal-500: 174 100% 37%;
  --color-teal-600: 175 100% 29%;
  --color-teal-700: 176 100% 24%;
  --color-teal-800: 177 100% 19%;
  --color-teal-900: 176 76% 18%;
  --color-teal-950: 179 92% 10%;

  --color-white: 0 0% 100%;

  --color-dark: var(--color-slate-950);
  --color-light: var(--color-slate-400);
  --color-accent: var(--color-teal-500);

  --text-200: 0.875rem;
  --text-300: 1rem;
  --text-400: 1.125rem;
  --text-500: 1.75rem;
  --text-600: 2rem;
  --text-700: 3.5rem;
  --text-800: 6.25rem;
  --text-900: 9.375rem;

  --font-family-sans: 'IBM Plex Sans', sans-serif;
  --font-family-condensed: 'IBM Plex Sans Condensed', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;

  --tracking-xs: -0.05em;
  --tracking-sm: -0.025em;
  --tracking-normal: 0em;
  --tracking-lg: 0.025em;
  --tracking-xl: 0.05em;
  --tracking-2xl: 0.1em;
}

/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--font-family-sans);
  font-size: var(--text-400);
  color: hsl(var(--color-white));
  background-color: hsl(var(--color-dark));
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------- */
/* Utility classes                    */
/* ---------------------------------- */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--color-dark));
}
.bg-light {
  background-color: hsl(var(--color-light));
}
.bg-white {
  background-color: hsl(var(--color-white));
}
.bg-accent {
  background-color: hsl(var(--color-accent));
}

.color-dark {
  color: hsl(var(--color-dark));
}
.color-light {
  color: hsl(var(--color-light));
}
.color-white {
  color: hsl(var(--color-white));
}
.color-accent {
  color: hsl(var(--color-accent));
}

.font-sans {
  font-family: var(--font-family-sans);
}
.font-condensed {
  font-family: var(--font-family-condensed);
}
.font-mono {
  font-family: var(--font-family-mono);
}

.tracking-xs {
  letter-spacing: var(--tracking-xs);
}
.tracking-sm {
  letter-spacing: var(--tracking-sm);
}
.tracking-normal {
  letter-spacing: var(--tracking-normal);
}
.tracking-lg {
  letter-spacing: var(--tracking-lg);
}
.tracking-xl {
  letter-spacing: var(--tracking-xl);
}
.tracking-2xl {
  letter-spacing: var(--tracking-2xl);
}

.uppercase {
  text-transform: uppercase;
}

.text-200 {
  font-size: var(--text-200);
}
.text-300 {
  font-size: var(--text-300);
}
.text-400 {
  font-size: var(--text-400);
}
.text-500 {
  font-size: var(--text-500);
}
.text-600 {
  font-size: var(--text-600);
}
.text-700 {
  font-size: var(--text-700);
}
.text-800 {
  font-size: var(--text-800);
}
.text-900 {
  font-size: var(--text-900);
}

.text-600,
.text-700,
.text-800,
.text-900 {
  line-height: 1.1;
}

/* ---------------------------------- */
/* Component                */
/* ---------------------------------- */

.numbered-title {
  font-family: var(--font-family-condensed);
  font-size: var(--text-500);
  text-transform: uppercase;
  letter-spacing: var(--tracking-2xl);

  & span {
    color: hsl(var(--color-white) / 0.25);
    margin-right: 0.5em;
    font-weight: 700;
  }
}

.button-large {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.button-large::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: hsl(var(--color-white) / 0.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition:
    opacity 500ms linear,
    transform 750ms ease-in-out;
}

.button-large:hover::after,
.button-large:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.nav-primary {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;

  & a {
    text-decoration: none;
  }

  & a span {
    margin-right: 0.5em;
    font-weight: 700;
  }
}

.underline-indicators {
  & > * {
    cursor: pointer;
    padding: var(--underline-gap, 1em) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--color-white) / 0);
  }

  & > *:hover,
  & > *:focus {
    border-color: hsl(var(--color-white) / 0.5);
  }

  & > .active,
  > [aria-selected='true'] {
    color: hsl(var(--color-white) / 1);
    border-color: hsl(var(--color-white) / 1);
  }
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators {
  & > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0.5em;
    background-color: hsl(var(--color-white) / 0.25);
  }

  & > *:hover,
  & > *:focus {
    background-color: hsl(var(--color-white) / 0.5);
  }

  & > [aria-selected='true'] {
    background-color: hsl(var(--color-white) / 1);
  }
}
