/* ---------------------------------- */
/* Custom properties                  */
/* ---------------------------------- */

:root {
  --clr-slate-50: 210 40% 98%;
  --clr-slate-100: 210 40% 96%;
  --clr-slate-200: 214 32% 91%;
  --clr-slate-300: 212 29% 84%;
  --clr-slate-400: 215 23% 65%;
  --clr-slate-500: 215 18% 47%;
  --clr-slate-600: 215 22% 35%;
  --clr-slate-700: 215 28% 27%;
  --clr-slate-800: 218 36% 18%;
  --clr-slate-900: 223 48% 11%;
  --clr-slate-950: 229 85% 5%;

  --clr-teal-50: 166 76% 97%;
  --clr-teal-100: 168 86% 89%;
  --clr-teal-200: 168 86% 78%;
  --clr-teal-300: 172 81% 60%;
  --clr-teal-400: 174 100% 42%;
  --clr-teal-500: 174 100% 37%;
  --clr-teal-600: 175 100% 29%;
  --clr-teal-700: 176 100% 24%;
  --clr-teal-800: 177 100% 19%;
  --clr-teal-900: 176 76% 18%;
  --clr-teal-950: 179 92% 10%;

  --clr-white: 0 0% 100%;

  --clr-dark: var(--clr-slate-950);
  --clr-light: var(--clr-slate-200);
  --clr-accent: var(--clr-teal-500);
}

/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------- */
/* Utility classes                    */
/* ---------------------------------- */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}
