---
import Main from '../layouts/Main.astro';
// const profilePicture = 'https://i.imgur.com/umBZPqd.png';
---

<Main title='bycarlosgamez'>
  <div class='hero'>
    <!-- <img
      src={profilePicture}
      alt='Carlos website profile picture'
      class='profile__picture'
    /> -->
    <div class='hero__details'>
      <h1>
        I’m a Design Technologist who's passionate about solving problems and
        creating delightful user experiences.
      </h1>
      <div class='hero__details--linkscontainer'>
        <a
          class='hero__details--links'
          href='https://github.com/bycarlosgamez'
          target='_blank'
          ><svg
            width='44'
            height='44'
            viewBox='0 0 44 44'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <g clip-path='url(#clip0_864_417)'>
              <circle cx='22' cy='22' r='22' fill='#69D3BD'></circle>
              <g clip-path='url(#clip1_864_417)'>
                <path
                  fill-rule='evenodd'
                  clip-rule='evenodd'
                  d='M22.5003 11.4791C19.7702 11.4805 17.1296 12.4475 15.0508 14.207C12.9719 15.9666 11.5902 18.4041 11.1529 21.0835C10.7156 23.763 11.251 26.5098 12.6635 28.8328C14.0761 31.1558 16.2736 32.9034 18.8631 33.7632C19.4343 33.8693 19.6495 33.5152 19.6495 33.2141C19.6495 32.9131 19.6381 32.0402 19.6343 31.0859C16.4351 31.777 15.7591 29.7358 15.7591 29.7358C15.2373 28.4104 14.4832 28.062 14.4832 28.062C13.4396 27.3539 14.5613 27.3671 14.5613 27.3671C15.7172 27.4485 16.3247 28.5468 16.3247 28.5468C17.3492 30.2944 19.0154 29.7889 19.6705 29.4935C19.7733 28.7531 20.0723 28.2495 20.4017 27.9636C17.8462 27.6758 15.1611 26.6949 15.1611 22.3135C15.1453 21.1772 15.5694 20.0783 16.3456 19.2442C16.2275 18.9564 15.8333 17.7938 16.4579 16.2147C16.4579 16.2147 17.4234 15.9079 19.621 17.3867C21.5059 16.8742 23.4946 16.8742 25.3795 17.3867C27.5752 15.9079 28.5388 16.2147 28.5388 16.2147C29.1653 17.79 28.7711 18.9526 28.653 19.2442C29.4317 20.0784 29.8567 21.1792 29.8394 22.3173C29.8394 26.7082 27.1486 27.6758 24.5893 27.9579C25.0006 28.3139 25.3681 29.0088 25.3681 30.0767C25.3681 31.6066 25.3548 32.8373 25.3548 33.2141C25.3548 33.519 25.5623 33.8749 26.1451 33.7632C28.7349 32.9033 30.9326 31.1553 32.3451 28.832C33.7576 26.5086 34.2928 23.7614 33.8549 21.0817C33.4171 18.4019 32.0348 15.9645 29.9552 14.2052C27.8756 12.4459 25.2345 11.4796 22.5041 11.4791H22.5003Z'
                  fill='#1E335A'></path>
                <path
                  d='M15.3551 27.8974C15.3304 27.9542 15.239 27.9712 15.1647 27.9314C15.0904 27.8917 15.0352 27.8178 15.0619 27.7591C15.0885 27.7004 15.178 27.6853 15.2523 27.725C15.3266 27.7648 15.3837 27.8405 15.3551 27.8974Z'
                  fill='#1E335A'></path>
                <path
                  d='M15.8216 28.4143C15.7822 28.4341 15.7371 28.4396 15.694 28.4299C15.6509 28.4202 15.6126 28.396 15.5855 28.3613C15.5112 28.2818 15.496 28.1719 15.5531 28.1227C15.6103 28.0735 15.7131 28.0962 15.7874 28.1757C15.8616 28.2552 15.8788 28.3651 15.8216 28.4143Z'
                  fill='#1E335A'></path>
                <path
                  d='M16.275 29.0713C16.2045 29.1205 16.0845 29.0713 16.0179 28.9728C15.9994 28.9552 15.9848 28.934 15.9748 28.9106C15.9648 28.8871 15.9596 28.862 15.9596 28.8365C15.9596 28.8111 15.9648 28.7859 15.9748 28.7624C15.9848 28.739 15.9994 28.7178 16.0179 28.7002C16.0883 28.6528 16.2083 28.7002 16.275 28.7967C16.3416 28.8933 16.3435 29.0221 16.275 29.0713V29.0713Z'
                  fill='#1E335A'></path>
                <path
                  d='M16.89 29.7075C16.8272 29.7776 16.6996 29.7586 16.5948 29.664C16.4901 29.5693 16.4653 29.4405 16.5282 29.3724C16.591 29.3042 16.7186 29.3232 16.8272 29.4159C16.9357 29.5087 16.9567 29.6394 16.89 29.7075V29.7075Z'
                  fill='#1E335A'></path>
                <path
                  d='M17.7526 30.0786C17.7241 30.1676 17.5946 30.2074 17.4651 30.1695C17.3356 30.1316 17.2499 30.0256 17.2746 29.9347C17.2994 29.8438 17.4308 29.8022 17.5622 29.8438C17.6936 29.8855 17.7774 29.9858 17.7526 30.0786Z'
                  fill='#1E335A'></path>
                <path
                  d='M18.6934 30.143C18.6934 30.2358 18.5868 30.3153 18.4497 30.3172C18.3125 30.3191 18.2002 30.2433 18.2002 30.1506C18.2002 30.0578 18.3068 29.9782 18.4439 29.9764C18.581 29.9745 18.6934 30.0483 18.6934 30.143Z'
                  fill='#1E335A'></path>
                <path
                  d='M19.5693 29.9972C19.5865 30.0899 19.4913 30.1865 19.3542 30.2092C19.217 30.232 19.0971 30.177 19.0799 30.0862C19.0628 29.9953 19.1618 29.8968 19.2951 29.8722C19.4284 29.8476 19.5522 29.9044 19.5693 29.9972Z'
                  fill='#1E335A'></path>
              </g>
            </g>
            <defs>
              <clipPath id='clip0_864_417'>
                <rect width='44' height='44' fill='white'></rect>
              </clipPath>
              <clipPath id='clip1_864_417'>
                <rect
                  width='23'
                  height='23'
                  fill='white'
                  transform='translate(11 11)'></rect>
              </clipPath>
            </defs>
          </svg>

          Github</a
        >
        <a
          class='hero__details--links'
          href='https://www.linkedin.com/in/bycarlosgamez/'
          target='_blank'
          ><svg
            width='44'
            height='44'
            viewBox='0 0 44 44'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <g clip-path='url(#clip0_864_429)'>
              <circle cx='22' cy='22' r='22' fill='#69D3BD'></circle>
              <g clip-path='url(#clip1_864_429)'>
                <path
                  d='M32.2975 11H12.698C11.7592 11 11 11.7412 11 12.6576V32.3379C11 33.2543 11.7592 34 12.698 34H32.2975C33.2363 34 34 33.2543 34 32.3424V12.6576C34 11.7412 33.2363 11 32.2975 11ZM17.8236 30.5994H14.4096V19.6205H17.8236V30.5994ZM16.1166 18.1246C15.0205 18.1246 14.1355 17.2396 14.1355 16.148C14.1355 15.0564 15.0205 14.1715 16.1166 14.1715C17.2082 14.1715 18.0932 15.0564 18.0932 16.148C18.0932 17.2352 17.2082 18.1246 16.1166 18.1246ZM30.5994 30.5994H27.1898V25.2627C27.1898 23.9914 27.1674 22.3518 25.4154 22.3518C23.641 22.3518 23.3715 23.7398 23.3715 25.1729V30.5994H19.9664V19.6205H23.2367V21.1209H23.2816C23.7354 20.2584 24.8494 19.3465 26.507 19.3465C29.9615 19.3465 30.5994 21.6195 30.5994 24.5754V30.5994V30.5994Z'
                  fill='#1E335A'></path>
              </g>
            </g>
            <defs>
              <clipPath id='clip0_864_429'>
                <rect width='44' height='44' fill='white'></rect>
              </clipPath>
              <clipPath id='clip1_864_429'>
                <rect
                  width='23'
                  height='23'
                  fill='white'
                  transform='translate(11 11)'></rect>
              </clipPath>
            </defs>
          </svg>
          LinkedIn</a
        >
        <a
          class='hero__details--links'
          href='https://www.threads.net/@omgitscharly'
          target='_blank'
          ><svg
            width='44'
            height='44'
            viewBox='0 0 44 44'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <g clip-path='url(#clip0_864_423)'>
              <circle cx='22' cy='22' r='22' fill='#69D3BD'></circle>
              <path
                d='M27.3977 21.6601C27.2986 21.6126 27.198 21.5669 27.096 21.5231C26.9185 18.252 25.1311 16.3792 22.1298 16.3601C22.1162 16.36 22.1027 16.36 22.0891 16.36C20.2939 16.36 18.8009 17.1263 17.882 18.5206L19.5326 19.6529C20.2191 18.6114 21.2965 18.3893 22.0899 18.3893C22.099 18.3893 22.1082 18.3893 22.1173 18.3894C23.1055 18.3957 23.8512 18.683 24.3339 19.2433C24.6851 19.6513 24.92 20.215 25.0363 20.9264C24.1602 20.7775 23.2126 20.7317 22.1997 20.7898C19.3462 20.9541 17.5117 22.6183 17.635 24.9308C17.6975 26.1038 18.2818 27.1129 19.2803 27.7722C20.1246 28.3294 21.2119 28.6019 22.3419 28.5403C23.8342 28.4584 25.0049 27.8891 25.8217 26.848C26.442 26.0573 26.8343 25.0328 27.0075 23.7418C27.7187 24.171 28.2458 24.7358 28.5369 25.4148C29.0319 26.569 29.0607 28.4656 27.5131 30.0119C26.1572 31.3665 24.5273 31.9525 22.0641 31.9706C19.3318 31.9504 17.2653 31.0741 15.9218 29.3661C14.6636 27.7668 14.0134 25.4567 13.9892 22.5C14.0134 19.5433 14.6636 17.2332 15.9218 15.6339C17.2653 13.9259 19.3317 13.0496 22.0641 13.0293C24.8163 13.0498 26.9187 13.9303 28.3137 15.6465C28.9977 16.4881 29.5134 17.5465 29.8534 18.7805L31.7877 18.2644C31.3756 16.7455 30.7272 15.4366 29.8448 14.3511C28.0564 12.1508 25.4409 11.0234 22.0708 11H22.0573C18.6942 11.0233 16.1079 12.155 14.3705 14.3637C12.8244 16.3291 12.0269 19.0639 12.0001 22.4919L12 22.5L12.0001 22.5081C12.0269 25.9361 12.8244 28.6709 14.3705 30.6364C16.1079 32.845 18.6942 33.9768 22.0573 34H22.0708C25.0609 33.9793 27.1685 33.1964 28.9048 31.4617C31.1764 29.1923 31.108 26.3476 30.3593 24.6013C29.8221 23.349 28.798 22.3318 27.3977 21.6601ZM22.2351 26.5139C20.9844 26.5843 19.6852 26.023 19.6211 24.8206C19.5736 23.9291 20.2555 22.9344 22.3118 22.8159C22.5473 22.8023 22.7784 22.7956 23.0054 22.7956C23.7523 22.7956 24.451 22.8682 25.0863 23.0071C24.8493 25.9662 23.4595 26.4467 22.2351 26.5139Z'
                fill='#1E335A'></path>
            </g>
            <defs>
              <clipPath id='clip0_864_423'>
                <rect width='44' height='44' fill='white'></rect>
              </clipPath>
            </defs>
          </svg>
          Threads</a
        >
      </div>
    </div>
  </div>
</Main>

<style>
  .hero {
    padding: 1rem 0 3rem 0;
    margin-top: 10.188rem;
    margin-bottom: 17.5rem;
    margin-inline: auto;
  }

  .hero__details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.313rem;
  }

  .hero__details > h1 {
    margin-top: 0;
  }

  .hero__details--linkscontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
  }

  .hero__details--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: 2.16px;
    transition: all 0.2s ease-in-out;
  }

  .hero__details--links:hover {
    color: var(--primary-accent);
    transform: scale(0.9);
  }

  /* .hero__picture {
    margin-top: 0 2rem 1rem 0;
    height: 100px;
    width: 100px;
  } */
</style>
