---
import ThemeToggler from './ThemeToggler.astro';
---

<header class='header'>
  <div class='container'>
    <a href='index.html' class='header__logo'> bycarlosgamez.</a>
    <button aria-label='menu toggler' class='header__menu--toggler'>
      <svg
        class='menu-icon'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d='M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z'></path>
      </svg>
      <svg
        class='none close-icon'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z'
        ></path>
      </svg>
    </button>
    <nav class='header__menu'>
      <ul>
        <li><a class='header__menu--link' href='#home'>Home</a></li>
        <li><a class='header__menu--link' href='#about'>About me</a></li>
        <li><a class='header__menu--link' href='#work'>My work</a></li>
        <li><a class='header__menu--link' href='#blog'>Blog</a></li>
        <li><a class='header__menu--link' href='#contact'>Contact me</a></li>
        <ThemeToggler />
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    color: var(--primary-content-01);
    background-color: var(--primary-surface-02);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 4rem;
    padding: 1rem;
  }

  .header > .container {
    background-color: var(--primary-surface-02);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 93.438rem;
  }
  /* ******** Menu ******** */
  .header__menu--toggler {
    color: var(--primary-content-01);
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__menu--toggler svg {
    fill: var(--primary-content-01);
  }

  .header__menu {
    position: fixed;
    left: 0;
    bottom: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: var(--primary-surface-02);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .header__menu.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  .header__menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 3%;
  }

  .header__menu--link {
    padding: 1rem;
    text-align: center;
    align-items: center;
    display: block;

    font-size: 1rem;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.16rem;
    transition: all 0.2s ease-in-out;
  }

  .header__menu--link:hover {
    border: 2px solid var(--primare-accent);
    /* background-color: var(--primary-surface-01); */
    /* border-radius: 4px; */
    /* padding: calc(1rem - 2px);
    transform: scale(0.9); */
    color: var(--primary-accent);
  }

  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-content-01);
  }

  @media screen and (min-width: 1024px) {
    .header {
      position: sticky;
      top: 0;
      padding: 0.5rem;
      height: 3.625rem;
      margin-top: 3.75rem;
    }

    .header__menu--toggler {
      display: none;
    }

    .header__menu {
      position: static;
      opacity: 1;
      pointer-events: auto;
      text-align: right;
      margin-bottom: 0;
    }

    .header__menu.is-active {
      align-items: center;
    }

    .header__menu ul {
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      gap: 3.5rem;
      padding: 0;
    }

    .header__menu--link {
      padding: 0 1rem;
      display: inline;
      transition: all 0.2s ease-out;
    }

    .header__menu--link:hover {
      border: none;
      padding: 0 1rem;
      display: inline;
      transform: scale(0.9);
    }
  }
</style>

<script>
  const NONE = 'none';
  const IS_ACTIVE = 'is-active';

  const menuToggler = document.querySelector('.header__menu--toggler');
  const menu = document.querySelector('.header__menu');
  const menuIcon = document.querySelector('.menu-icon');
  const closeIcon = document.querySelector('.close-icon');

  if (menu && menuToggler) {
    menuToggler.addEventListener('click', () => {
      if (menuIcon) {
        menuIcon.classList.toggle(NONE);
      }

      if (closeIcon) {
        closeIcon.classList.toggle(NONE);
      }

      menu.classList.toggle(IS_ACTIVE);
    });
  }
</script>
